.menu {
    display: flex;
    justify-content: space-between; /* Align items to left and right */
    align-items: center; /* Vertically center items */
    padding: 10px; /* Add some padding */
    text-transform: uppercase;
}

.menu-links {
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.menu-links a {
    color: #707070;
    transition: color 0.4s ease;
}

.menu a:hover {
    color: #222;
}

.menu-links li {
    display: inline; /* Display links horizontally */
    margin-right: 20px; /* Add space between links */
    font-size: 18px;
}

.menu-title {
    font-size: 24px;
}

#menu-link-active {
    color: #222;
}

/* Hamburger button styles */
.hamburger {
    display: none; 
    cursor: pointer;
}

.hamburger-icon {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6h16M4 12h16m-7 6h7' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none' /%3E%3C/svg%3E");
    background-size: contain;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-top { /* New class to group title and hamburger */
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .hamburger {
        display: block; /* Show the hamburger button on mobile */
    }

    .menu-links {
        display: none; /* Initially hide the links */
        width: 100%;
        margin-top: 10px;
    }

    .menu-links.show {
        display: block; /* Show the links when the menu is open */
    }
}